@import "../../../assets/styles/scss/variable.scss";

.skill {
    width: 80px;
    height: 80px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    background-color: #292929;
    padding: 10px;
    // animation: skill-move 4500ms ease 200ms infinite reverse;
    transition: background-color 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
    // cursor: grab;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px 60px;
}
.skill:hover {
    background-color: $red;
}
.skill.position1 {
    position: absolute;
    left: 33px;
    top: 10px;
    // animation: skill-move 4500ms ease 1100ms infinite reverse;
    animation: skill-scale 2350ms ease 1100ms infinite reverse;
}
.skill.position2 {
    position: absolute;
    left: 53px;
    top: 110px;
    animation: skill-move 4500ms ease 290ms infinite reverse;
}
.skill.position3 {
    position: absolute;
    left: 133px;
    top: -29px;
    animation: skill-move 4500ms ease 840ms infinite reverse;
}
.skill.position4 {
    position: absolute;
    left: 173px;
    top: 79px;
    animation: skill-move 4500ms ease 1400ms infinite reverse;
}

@keyframes skill-move {
    from {
        transform: translateY(0px) scale(1);
    }
    50% {
        transform: translateY(-25px) translateX(10px) scale(0.8);
    }

    to {
        transform: translateY(0px) scale(1);
    }
}
@keyframes skill-scale {
    from {
        transform: scale(1);
    }
    10% {
        transform: scale(0.75);
    }
    to {
        transform: scale(1);
    }
}
