@import "../../../assets/styles/scss/variable.scss";
@import "../../../assets/styles/scss/mixins.scss";

.contact-info-box {
    background-color: $black-lighter;
    border: 1px solid $border;
    padding: 28px;
    border-radius: 16px;
    color: $hint;
    width: 100%;

    @include tablet-screen {
        width: 320px;
        flex-shrink: 0;
    }

    h4 {
        line-height: 1.45;
        margin-bottom: 1.5rem;
        color: $white;
        font-weight: 700;
    }

    .contact-option {
        display: flex;
        align-items: center;
        margin-top: 14px;

        svg {
            color: $gold;
            font-size: 16px;
            flex-shrink: 0;
        }

        .text {
            color: $white;
            margin-left: 15px;
            word-break: break-word;
        }
    }
}
