@import "../../assets/styles/scss/mixins.scss";
@import "../../assets/styles/scss/variable.scss";

.contact-content-wrapper {
    display: flex;
    width: 100%;
    margin-top: 48px;
    flex-direction: column;
    gap: 24px;

    @include tablet-screen {
        flex-direction: row;
        align-items: flex-start;
        margin-top: 64px;
        gap: 28px;
    }
}
