@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&display=swap");
@import "./variable.scss", "./mixins.scss";

* {
    margin: 0;
    padding: 0;
    font-family: $base-font-family;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
    overflow-x: clip;
}

body {
    margin: 0;
    background: $black;
    color: $white;
    line-height: 1.5;
    min-height: 100vh;
    overflow-x: clip;
}

img,
svg {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    @include typography(18px, 600, 28px);
}

h2 {
    @include typography(42px, 800, 1.2);
}

h3 {
    @include typography(26px, 700, 1.2);
}

h4 {
    @include typography(22px, 700, 1.2);
}
