$white: #fff;
$gray: #989898;
$black: #000;
$black-light: #131313;
$black-lighter: #232323;
$yellow: #cebc1a;
$red: #A82E34;
$color1: #2559cd;
$color2: #1c4cc8;
$color3: #0f38c1;
$degrees: 121deg;
$aqua: #23dcda;

$base-font-family: "DM Sans", sans-serif;
